/****************************************************************
**  PROLEGOMENA
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #eaeaea;
  --black: #3c3c3c;
}
body {
  font-family: 'Inter', sans-serif;
  min-width: 500px;
  background-color: var(--white);
  color: var(--black);
}
main {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

/****************************************************************
**  FORM
*/
main .input_form .form_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  padding: 30px 50px;
  color: var(--black);
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
main .input_form .form_box .row_in {
  display: flex;
  justify-content: space-around;
}
main .input_form .form_box .row_in .input_box {
  margin: 0 20px;
}
main .input_form .form_box .row_in .input_box input {
  padding: 8px;
  min-width: 250px;
  border: 2px solid var(--black);
  border-radius: 5px;
  color: var(--black);
  background-color: var(--white);
}
main .input_form .form_box .row_in .input_box input:focus {
  color: var(--white);
  background-color: var(--black);
  outline: none;
}
main .input_form .form_box .row_in .input_box input:focus::placeholder {
  color: transparent;
}
main .input_form .form_box .row_btn {
  display: flex;
  justify-content: center;
}
main .input_form .form_box .row_btn button {
  margin: 40px 20px 0;
}

/****************************************************************
**  ALERT
*/
#msg {
  padding: 30px 50px;
  color: var(--black);
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#msg button {
  margin-top: 10px;
}

/****************************************************************
**  TICKET ON/OFF
*/
.hide {
  display: none;
  opacity: 0;
  transition: all 0.5s;
}
.show {
  display: block;
  opacity: 1;
  transition: all 0.5s;
}

/****************************************************************
**  BUTTON
*/
button {
  padding: 5px 15px;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
}

/****************************************************************
**  TEXTS
*/
.ms_txt_title {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
}
.ms_txt_1 {
  display: inline-block;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 10px;
}
